<div id="login" class="page">
	<header class="login"></header>
	<main>
		<form novalidate name="vm.loginForm"  data-ng-submit="vm.signin()">

			<div class="list">
				<label class="item item-input item-floating-label">
                    <span class="input-label">Login</span>
					<input class="login" type="text" placeholder="Login" data-ng-model="vm.login" autocapitalize="off"
						   autocorrect="off" autofocus required />
				</label>
				<div class="item item-input item-floating-label item-button-right">
					<span class="input-label">Senha</span>
                    <input class="login" type="password" placeholder="Senha" data-ng-model="vm.login" autocapitalize="off"
						   autocorrect="off" required />
					<button class="button button-icon" type="submit" data-ng-show="vm.loginForm.$valid"><i class="icon ion-arrow-right-c"></i></button>
				</div>
			</div>
		</form>
	</main>
</div>