html {
    -webkit-text-size-adjust: none;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 1.2em;
    height: 100%;
}

body {
    height: 100%;
    vertical-align: top;
}

/* Settings */
.logoff {
    text-decoration: none;
    color: red;
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 3;
}

.item-right input {
    text-align: right;
}

/* Numeric selector */
.quantity-selector button {
    float: left;
    height: 36px;
    width: 36px;
    background-color: #d71920;
    border: 1px solid #d71920;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding-top: 2px;
}

.quantity-selector .quantity {
    float: left;
    font-size: 16px;
    text-align: center;
    width: 36px;
    line-height: 34px;
    border-bottom: 1px solid #d71920;
    border-top: 1px solid #d71920;
}

/* tab */
.bar.bar-positive {
    border-color: #d71920;
    background-color: #d71920;
    background-image: linear-gradient(0deg, #d71920, #d71920 50%, transparent 50%);
}

.tabs-background-positive > .tabs {
    background-color: #d71920;
}

.tabs-background-positive > .tabs, .tabs-background-positive > .tabs {
    border-color: #d71920;
}

.item-content, .item-radio .item-content {
    padding: 16px !important;
}

.product-status {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
}

.product-status-not-attended {
    border-top: 30px solid red;
}

.product-status-partially-attended {
    border-top: 30px solid #f0b840;
}

.product-status-attended {
    border-top: 30px solid green;
}

.product-header {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.product-header .reference {
    font-size: 14px;
}

.product-body {
    white-space: normal;
    display: -webkit-flex;
    display: flex;
}

.product-body .details {
    -webkit-flex: 1;
    flex: 1;
}

.inner-tabs {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
    background-image: none !important;
}

.inner-tab-item {
    font-size: 14px !important;
    font-weight: bold;
}

.product-list {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.image {
    text-align: center;
}

.image .product-small {
    width: 100px;
}

/* Field */
.field {

}

.field label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.field span {
    display: inline-block;
    font-size: 15px;
}

/* Page */
div.page {
    height: 100%;
}

/* Header */
div.page header.login {
    height: 40%;
    text-align: center;
    position: relative;
    opacity: 0.7;
}

#login header {
    background: #d71920 url('../img/logo.png') no-repeat center center;
}

/* Attributes */
div.attributes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    margin: 6px 0px;
}

div.attributes .attribute {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

div.attributes .color {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: block;
    font-size: 13px;
}

div.attributes .size {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    line-height: 48px;
}

.disabled-attribute div {
    background-color: #e3e3e3;
}

.selected-attribute span {
    color: #ce0415;
}

.selected-attribute .size {
    color: #ce0415;
    border: 1px solid #ce0415 !important;
}

.item-search i {
    padding: 0px 10px;
}