<ion-view view-title="Solicitação">
	<ion-nav-buttons class="button button-clear button-positive" side="primary">
		<a class="button button-clear" nav-direction="back" data-ng-click="vm.goBack();">voltar</a>
	</ion-nav-buttons>
	<ion-nav-buttons class="button button-clear button-positive" side="secondary">
		<a class="button button-clear" nav-direction="forward" data-ng-click="vm.addProduct();" data-ng-show="vm.canEdit();">+ produto</a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list card">
			<div data-ng-show="vm.request.id">
				<div class="row">
					<div class="col field">
						<label>Cód.</label>
						<span type="text" data-ng-bind="vm.request.id"></span>
					</div>
					<div class="col field">
						<label>Status</label>
						<span data-ng-bind="vm.request.status.name"></span>
					</div>
					<div class="col field">
						<label>Solicitante</label>
						<span type="text" data-ng-bind="vm.request.createdBy"></span>
					</div>
				</div>
				<div class="row">
					<div class="col field">
						<label>Categoria</label>
						<span type="text">{{ vm.request.division }} / {{ vm.request.group }}</span>
					</div>
					<div class="col field" data-ng-show="vm.isFinished();">
						<label>Pendente desde</label>
						<span type="text" data-ng-bind="vm.request.relevantDate | todayDateFormat : 'HH:mm' : 'dd/MM/yy HH:mm'"></span>
					</div>
				</div>
			</div>
			<div class="item inner-tabs tabs tabs-secondary" data-ng-show="vm.enableStatusButton() || vm.canDelete(vm.request)">
                <button class="inner-tab-item button button button-clear button-positive" data-ng-bind="vm.updateStatusButtonLabel" data-ng-click="vm.changeStatus();" data-ng-show="vm.enableStatusButton();"></button>
                <button class="inner-tab-item button button-clear button-assertive" data-ng-click="vm.deleteRequest();" data-ng-show="vm.canDelete(vm.request);">Excluir solicitação</button>
			</div>
			<div class="list product-list">
				<div class="item" data-ng-repeat="product in vm.request.products | orderBy:['structure.division.name', 'structure.group.name', 'productCode', 'structure.subclass.id', 'structure.class.id', 'structure.department.id'] track by $index" data-ng-click="vm.viewProduct(vm.request.id, product.sku);">
                    <div class="product-status" data-ng-class="vm.getColorStatus(product);">
                    </div>
					<div class="product-header item-text-wrap">
						<b><span data-ng-bind="product.name"></span></b><br />
						<span class="reference">{{  product.productCode}} - {{ product.sku }}</span>
					</div>
					<div class="product-body">
						<div class="details">
							<span data-ng-bind="product.structure.division.name"></span> / <span data-ng-bind="product.structure.group.name"></span><br />
							<span data-ng-bind="product.color.name"></span> - <span data-ng-bind="product.size"></span><br />
							<span data-ng-bind="product.price | currency : 'R$ '"></span><br /><br />
							<span>{{ product.quantity }} solicitado(s)</span><br />
                            <span data-ng-show="!vm.isDraft() && !vm.isPending()">{{ product.quantityFound }} separado(s)</span>
						</div>
						<div class="image">
							<img class="product-small" data-ng-src="{{ product.pictureUrl }}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>