<ion-view view-title="Solicitações">
    <ion-nav-buttons class="button button-clear button-positive" side="secondary">
        <a class="button button-clear" nav-direction="forward" data-ng-click="vm.goTo('/requests/new')" data-ng-show="vm.canCreateRequests();">nova</a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Atualizar..." on-refresh="vm.loadRequests();">
        </ion-refresher>
        <div class="list card">
            <div class="item item-divider" data-ng-click="showFilter = !showFilter">
                Filtros
            </div>
            <div data-ng-show="showFilter">
                <div class="list card">
                    <div class="item item-divider">
                        Status
                    </div>
                    <label class="item item-radio" data-ng-repeat="status in vm.statusList">
                        <input type="checkbox" data-ng-model="vm.search.status[status.id]" />
                        <div class="item-content" data-ng-bind="status.name"></div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
                <div class="item item-input item-right">
                    <span class="input-label">Código</span>
                    <input type="tel" data-ng-model="vm.search.id" />
                </div>
                <div class="item item-input item-right">
                    <span class="input-label">Solicitante</span>
                    <input type="text" data-ng-model="vm.search.createdBy" />
                </div>
                <div class="item item-input item-right">
                    <span class="input-label">Divisão</span>
                    <input type="text" data-ng-model="vm.search.division" />
                </div>
                <div class="item item-input item-right">
                    <span class="input-label">Grupo</span>
                    <input type="text" data-ng-model="vm.search.group" />
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item" data-ng-repeat="request in vm.requests | listFilter: vm.search | orderBy: vm.getSort()  track by $index" data-ng-click="vm.goTo('/request/' + request.id)">
                <span><b># {{request.id}}</b></span> - {{request.status.name}}</b>

            <p>{{ request.division }} / {{ request.group }} - {{ request.products.length }} produto(s)</p>

            <p>Solicitação criada por <b>{{request.createdBy}}</b></p>
            <p data-ng-show="request.status !== 'Finalizado'">Pendente desde <b>{{request.relevantDate | todayDateFormat : 'HH:mm' : 'dd/MM/yy HH:mm'}}</b></p>
        </div>
        </div>
    </ion-content>
</ion-view>