<ion-view view-title="Configurações">
    <ion-content>
        <div class="list">
            <ion-toggle ng-model="vm.settings.useEcommerceNames">
                Nomes do e-commerce
            </ion-toggle>
            <ion-toggle ng-model="vm.settings.showPictures">
                Mostrar fotos
            </ion-toggle>
            <ion-toggle ng-model="vm.settings.onlinePictures">
                Fotos online
            </ion-toggle>
            <div class="item item-divider">
            </div>
            <div class="item item-input">
                <span class="input-label">Solicitações</span>
                <a class="logoff" data-ng-click="vm.resetRequests();">Limpar</a>
            </div>
            <div class="item item-input">
                <span class="input-label" data-ng-bind="vm.getUserName();"></span>
                <a class="logoff" data-ng-click="vm.signout();">Sair</a>
            </div>
        </div>
    </ion-content>
</ion-view>