<ion-view view-title="Produto" cache-view="false">
    <ion-nav-buttons class="button button-clear button-positive" side="primary">
        <button class="button button-clear" data-ng-click="vm.goBack();">voltar</button>
    </ion-nav-buttons>
    <ion-nav-buttons class="button button-clear button-positive" side="secondary">
        <button class="button button-clear" data-ng-click="vm.save();">salvar</button>
    </ion-nav-buttons>
    <ion-content data-has-bouncing="false">
        <div class="list" data-ng-show="!vm.canExecute();">
            <label class="item item-input">
                <span class="input-label">Código pai</span>
                <input type="tel" placeholder="Código pai" data-ng-model="vm.product.productCode" ng-change="vm.findByParentId()" ng-model-options="{updateOn: 'blur'}" data-ng-readonly="!vm.canEdit()" />
            </label>
            <label class="item item-input">
                <span class="input-label">SKU</span>
                <input type="tel" placeholder="SKU" data-ng-model="vm.product.sku" data-ng-change="vm.findByChildId()" ng-model-options="{updateOn: 'blur'}" data-ng-readonly="!vm.canEdit()"  />
            </label>
            <div class="item item-input">
                <span class="input-label">Quantidade</span>
                <div data-numeric-selector data-quantity="vm.product.quantity"></div>
            </div>
            <label class="item item-input" data-ng-show="vm.product.colors && vm.product.colors.length">
                <span class="input-label">Cor</span>
                <ion-scroll zooming="true" direction="x" style="height: 40px">
                    <ul>
                        <li data-ng-repeat="color in vm.product.colors">
                            <span data-ng-bind="color.name"></span>
                            <span data-ng-bind="color.id"></span>
                        </li>
                    </ul>
                </ion-scroll>
            </label>
            <label class="item item-input" data-ng-show="vm.product.sizes && vm.product.sizes.length > 0">
                <span class="input-label">Tamanho</span>
                <ion-scroll zooming="true" direction="x" style="height: 40px">
                    <ul>
                        <li data-ng-repeat="size in vm.product.sizes">
                            <span data-ng-bind="size"></span>
                        </li>
                    </ul>
                </ion-scroll>
            </label>
            <label class="item item-input" data-ng-show="vm.product.scents && vm.product.scents.length > 0">
                <span class="input-label">Aroma</span>
                <ion-scroll zooming="true" direction="x" style="height: 40px">
                    <ul>
                        <li data-ng-repeat="scent in vm.product.scents">
                            <span data-ng-bind="scent"></span>
                        </li>
                    </ul>
                </ion-scroll>
            </label>
        </div>
        <div class="list card" data-ng-show="vm.product.name">
            <label class="item image" data-ng-show="vm.product.name">
                <img data-ng-src="{{ vm.product.pictureUrl }}">
            </label>
            <label class="item item-input" data-ng-show="vm.canExecute();">
                <span class="input-label">Quantidade solicitada</span>
                <span data-ng-bind="vm.product.quantity"></span>
            </label>
            <div class="item item-input" data-ng-show="vm.canExecute();">
                <span class="input-label">Separado</span>
                <div data-numeric-selector data-quantity="vm.product.quantity"></div>
            </div>
            <label class="item item-text-wrap">
                <span data-ng-bind="vm.product.name"></span>
            </label>
			<label class="item item-input" data-ng-show="vm.product.structure.division.name">
                <span class="input-label">Divisão/Grupo</span>
                <span>{{ vm.product.structure.division.name }}/{{ vm.product.structure.group.name }}</span>
            </label>
            <label class="item" data-ng-show="vm.canExecute() && vm.product.color">
                <span class="input-label">Cor</span>
                <span data-ng-bind="vm.product.color.name"></span>
            </label>
            <label class="item item-input" data-ng-show="vm.canExecute() && vm.product.size">
                <span class="input-label">Tamanho</span>
                <span data-ng-bind="vm.product.size"></span>
            </label>
            <label class="item item-input" data-ng-show="vm.canExecute() && vm.product.scent">
                <span class="input-label">Aroma</span>
                <span data-ng-bind="vm.product.scent"></span>
            </label>
            <label class="item item-input" data-ng-show="vm.product.price">
                <span class="input-label">Preço</span>
                <span data-ng-bind="vm.product.price | currency : 'R$ '"></span>
            </label>
            <label class="item item-input" data-ng-show="vm.canEdit() && vm.product.sku">
                <button class="button button-clear button-assertive" data-ng-click="vm.removeProduct();">
                    Excluir
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>