<ion-view view-title="Produto">
    <ion-nav-buttons class="button button-clear button-positive" side="primary">
        <button class="button button-clear" nav-direction="back" data-ng-click="vm.goBack();">voltar</button>
    </ion-nav-buttons>
    <ion-nav-buttons class="button button-clear button-positive" side="secondary">
        <button class="button button-clear" nav-direction="forward" data-ng-click="vm.save();" data-ng-show="vm.canEdit() || vm.canExecute()">salvar</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" data-ng-show="vm.canEdit()">
            <label class="item item-input">
                <span class="input-label">Código pai</span>
                <b><input type="tel" placeholder="Código pai" data-ng-model="vm.product.productCode" ng-change="vm.findByParentId()" ng-model-options="{updateOn: 'blur'}" data-ng-readonly="!vm.canEdit()" /></b>
            </label>
            <div class="item item-input item-icon-right item-search">
                <span class="input-label">SKU</span>
                <b><input type="tel" placeholder="SKU" data-ng-model="vm.product.sku" data-ng-change="vm.findByChildId()" ng-model-options="{updateOn: 'blur'}" data-ng-readonly="!vm.canEdit()"  /></b>
                <i class="icon ion-search" data-ng-click="vm.selectProduct();"></i>
            </div>
            <label class="item item-divider">
            </label>
            <label class="item item-text-wrap" data-ng-show="vm.product.name">
                <b><span data-ng-bind="vm.product.name"></span></b>
            </label>
            <label class="item item-input" data-ng-show="vm.product.structure.division.name">
                <span class="input-label">Categoria</span>
                <b><span>{{ vm.product.structure.division.name }} / {{ vm.product.structure.group.name }}</span></b>
            </label>
            <div class="item item-input" data-ng-show="vm.product.colors && vm.product.colors.length > 0">
                <div class="attributes">
                    <div class="attribute" data-ng-class="{ 'selected-attribute' : vm.selectedSku.color === color.id }" data-ng-click="vm.selectAttribute('color', color.id, color.disabled);" data-ng-repeat="color in vm.product.colors">
                        <img class="color" data-ng-src="{{ color.url }}">
                        <span data-ng-bind="color.name"></span>
                    </div>
                </div>
            </div>
            <div class="item item-input" data-ng-show="vm.product.sizes && vm.product.sizes.length > 0">
                <div class="attributes">
                    <div class="attribute size-attribute" data-ng-class="{ 'selected-attribute' : vm.selectedSku.size === size.name, 'disabled-attribute' : size.disabled }" data-ng-click="vm.selectAttribute('size', size.name, size.disabled);" data-ng-repeat="size in vm.product.sizes">
                        <div class="size" data-ng-bind="size.name"></div>
                    </div>
                    <div class="attribute size-attribute">
                        <div class="size">Grade</div>
                    </div>
                </div>
            </div>
            <div class="item item-input" data-ng-show="vm.product.scents && vm.product.scents.length > 0">
                <ul class="attributes">
                    <li class="attribute" data-ng-class="{ 'selected-attribute' : vm.selectedSku.scent === scent.name }" data-ng-click="vm.selectAttribute('scent', scent.name, scent.disabled);"  data-ng-repeat="scent in vm.product.scents">
                        <span data-ng-bind="scent.name"></span>
                    </li>
                </ul>
            </div>
            <div class="item item-input" data-ng-show="vm.canEdit()">
                <span class="input-label">Quantidade</span>
                <b><div data-numeric-selector data-quantity="vm.product.quantity"></div></b>
            </div>
        </div>
        <div class="list card" data-ng-show="vm.product.name">
            <label class="item item-input" data-ng-show="!vm.canEdit();">
                <span class="input-label">Pai / SKU</span>
                <b><span class="product-code">{{ vm.product.sku }} - <span data-ng-bind-html="vm.product.productCode | productCodeHighlight"></span></span></b>
            </label>
            <label class="item image" data-ng-show="vm.product.name">
                <img data-ng-src="{{ vm.product.pictureUrl }}">
            </label>
            <label class="item item-input" data-ng-show="!vm.canEdit();">
                <span class="input-label">Solicitado(s)</span>
                <b><span data-ng-bind="vm.product.quantity"></span></b>
            </label>
            <div class="item item-input" data-ng-show="vm.canExecute();">
                <span class="input-label">Separado(s)</span>
                <b><div data-numeric-selector data-quantity="vm.product.quantityFound"></div></b>
            </div>
            <div class="item item-input" data-ng-show="!vm.canExecute() && !vm.isDraft() && !vm.isPending()">
                <span class="input-label">Separado(s)</span>
                <b><span data-ng-bind="vm.product.quantityFound"></span></b>
            </div>
            <label class="item item-input" data-ng-show="vm.product.color">
                <span class="input-label">Cor</span>
                <img class="color" data-ng-src="{{ vm.product.color.url }}">&nbsp;
                <b><span data-ng-bind="vm.product.color.name"></span></b>
            </label>

            <label class="item" data-ng-show="vm.product.name">
                <div class="list list-inset">
                    <div class="item">
                        <div class="sku">
                            <div class="sku-info sku-title">Tamanho: {{ vm.product.size }}</div>
                            <div class="sku-info sku-price" data-ng-bind="vm.product.price | currency : 'R$ '"></div>
                        </div>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">SKU</span>
                        <b><span data-ng-bind="vm.product.sku"></span></b>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">Solicitado(s)</span>
                        <b><span data-ng-bind="vm.product.quantity"></span></b>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">Separado(s)</span>
                        <b><div data-numeric-selector data-quantity="vm.product.quantityFound"></div></b>
                    </div>
                    <div class="item item-input" data-ng-show="vm.canEdit() && vm.product.sku">
                        <button class="button button-block button-clear button-assertive" data-ng-click="vm.removeProduct();">
                            <b>Excluir produto</b>
                        </button>
                    </div>
                </div>
                <div class="list list-inset">
                    <div class="item">
                        <div class="sku">
                            <div class="sku-info sku-title">Tamanho: {{ vm.product.size }}</div>
                            <div class="sku-info sku-price" data-ng-bind="vm.product.price | currency : 'R$ '"></div>
                        </div>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">SKU</span>
                        <b><span data-ng-bind="vm.product.sku"></span></b>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">Solicitado(s)</span>
                        <b><span data-ng-bind="vm.product.quantity"></span></b>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">Separado(s)</span>
                        <b><div data-numeric-selector data-quantity="vm.product.quantityFound"></div></b>
                    </div>
                    <div class="item item-input" data-ng-show="vm.canEdit() && vm.product.sku">
                        <button class="button button-block button-clear button-assertive" data-ng-click="vm.removeProduct();">
                            <b>Excluir produto</b>
                        </button>
                    </div>
                </div>
            </label>
        </div>
    </ion-content>
</ion-view>