<ion-view view-title="Disponíveis" cache-view="true">
	<ion-nav-buttons class="button button-clear button-positive" side="primary">
		<a class="button button-clear" nav-direction="back" data-ng-click="vm.goBack();">voltar</a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list card" data-ng-repeat="division in vm.divisions | orderBy: 'division.name'">
            <div class="item item-divider" data-ng-bind="division.name" data-ng-click="division.show = !division.show"></div>
			<div class="list product-list" data-ng-show="division.show">
				<div class="item" data-ng-repeat="product in vm.products | filter : division.name | orderBy:['structure.division.name', 'structure.group.name', 'structure.department.id', 'structure.class.id', 'structure.subclass.id', 'color.id', 'size'] track by $index" data-ng-click="vm.selectProduct(product.sku)">
                    <div class="product-header item-text-wrap">
						<b><span data-ng-bind="product.name"></span></b><br />
						<span class="reference">{{ product.productCode }} - {{ product.sku }}</span>
					</div>
					<div class="product-body">
						<div class="details">
							<span data-ng-bind="product.structure.division.name"></span>/<span data-ng-bind="product.structure.group.name"></span><br />
							<span data-ng-bind="product.color.name"></span> - <span data-ng-bind="product.size"></span><br />
							<span data-ng-bind="product.price | currency : 'R$ '"></span><br /><br />
						</div>
						<div class="image">
							<img class="product-small" data-ng-src="{{ product.pictureUrl }}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>